body{
	/*background-image: url("img/plantilla.jpg");*/
	background-repeat: no-repeat;
}

#header{
	background: blue;
	opacity: 0.6;
	height: 235px;
}
.contenedor_crono{
	background: red;
	opacity: 0.6;
	width: 535px;
	height: 80px;
	position: relative;
	left: 450px;
}
.barra{
	background: yellow;
	opacity: 0.6;
	width: 100%;
	height: 60px;
}

.home_slide{
	max-height: 300px;
}

#home_content{
	background: blue;
	opacity: 0.6;
	height: 1647px;
}
#sidebar{
	background: red;
	opacity: 0.6;
	height: 700px;
}

.footer{
	background: green;
	opacity: 0.6;
	width: 100%;
	height: 210px;
}
.bandera{
	background: yellow;
	opacity: 0.6;
	width: 100%;
	height: 40px;
}

.no-space { /*apply to the row */
      margin-left:0;
 }
.row-fluid .span8 {  /* overrides bootstrap.css to allow for no gutter */

   width: 65%;
}
.row-fluid .span4 {  /* overrides bootstrap.css to allow for no gutter */

   width: 35%;
   margin-left: 0px!important;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}