h1, p{
	font-family: 'klavikalight';
	font-weight: normal;
}
h1 b, p b{
	color: black;
	font-weight: normal;
}


body{
	/*background-image: url("img/plantilla.jpg");
	background-repeat: no-repeat;*/
	background: black;
}
#header{
	background-image: url("img/fondo_header.png");
	height: 235px;
}




.footer{
	background-image: url("img/fondo_footer.png");
	width: 100%;
	height: 210px;
}

.noticia{
	background-color: white;
}

.fecha_noticia{
	color: #3a739c;
	font-size: 15px;
}
.titulo_noticia{
	color: #3a739c;
	font-size: 30px;
	font-weight: bold;
}

.btn_compartir{
	color: #ffffff;
	background-color: #3a739c; 
	/*width: 40%;
	height: 30px;*/
	text-align: center;
	margin-left: 0!important;

}
.btn_seguir{
	color: #3a739c;
	background-color: #85bee6; 
	/*width: 40%;
	height: 30px;*/
	text-align: center;
}

.no-space { /*apply to the row */
      margin-left:0;
 }
.row-fluid .span8 {  /* overrides bootstrap.css to allow for no gutter */

   width: 65%;
}
.row-fluid .span4 {  /* overrides bootstrap.css to allow for no gutter */

   width: 35%;
   margin-left: 0px!important;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.minibarra{
	background-image: url("img/minibarra.png");
	width: 100%;
	height: 6px;
	background-repeat: repeat-x;
}
.container_botones{
	padding-left: 16%;
	height: 45px;
}

.cr_digito{
	color: white;
	font-family: 'digital-7regular';
	float: left;

}
#cr_titulo{
	margin-left: 235px;
	max-width: 70px;
	margin-top: 18px;
	font-size: 10px;
}
.cr_reloj{
	min-width: 40px;
	min-height: 40px;
	font-size: 40px;
	text-align: right;
	margin-top: 25px;
	margin-right: 7px;
}
.cr_puntos{
	font-size: 50px;
	margin-top: 25px;
}
#cr_dias{
	margin-left: 5px;
}
.comentarios{
	padding: 10px;
}
