#sidebar {
	background-color:#F2F2F2;
}

.noticia_destacada {
  background-image: url("../img/barradestacado.png");
  color: white;
  font-size: 20px;
  height: 90px;
  padding-left: 89px;
}

.noticia_destacada p {
	display: inline-block;
	margin-top: 23px;
	max-width: 200px;
	text-align: left;
}

.buscador {
  background-color: white;
  color: blue;
  font-size: 20px;
  height: 90px;
  margin-bottom: 12px;
  padding-left: 44px;
}

.buscador img {
  margin-right: 14px;
  margin-top: 19px;
}

.inp_buscar{
	/*float: left;*/
	margin: 0 auto;
	height: 25px!important;
	margin-top: 60 auto;
	border: 0 none!important;
	font-family: klavikalight;
	padding-top: 31px!important;
}

input.inp_buscar:focus {
	box-shadow:none!important;
	border:0px;
	color:black;
}

.entrada_derecha{
	background-color: #F2F2F2;
	height: 44px;
	padding-left: 32px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.contenedor_icono{
	background-color: #0E76BC;
	float: left;
	height: 32px;
	padding-left: 12px;
	padding-top: 12px;
	width: 32px;
}

.entrada_derecha p {
  color: #6799C2;
  display: inline-block;
  font-size: 16px;
  margin-left: 26px;
  margin-top: 4px;
  text-align: left;
  text-transform: uppercase;
  width: 173px;
  overflow: hidden;
  height: 34px;
}

.entrada_derecha:hover {
	background-color:#7fbee9;
}