
.barra{
	background: url("../img/barra.png");
	height: 61px;
	position:relative;
	width:100%;
	z-index:2;
	background-position: 0px -1px;
}

#menu_nav{
	margin: auto;
	padding-left: 5px;
	height: 100%
}

.btn_barra{
	color: #B4D6EE;
	float: left;
	height: 36px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 8px;
	padding-top: 15px;
	text-align: center;
	vertical-align: middle;
	width: 12%;
}
.btn_barra:hover{
	color: #ffffff;
	background-image: url("../img/btn_activo.png");
	background-size: 100% auto;

}
.btn_activo{
	background-image: url("../img/btn_activo.png");
	background-repeat: repeat-x;
	color: #ffffff;
}

.btn_barra p{
	font-size: 15px;
}