
.contenedor_crono{
	background-image: url("../img/crono.png");
	width: 545px;
	height: 80px;
	float: right;
	margin-right: -15px;
	position:relative;
	z-index:1;
}

#contenedor_sombras {
	height: 136px;
	position:absolute;
	
}

.sombra {
	background-image:url("../img/sombra.png");
	width:100%;
	height:100%;
	background-size:100% auto;
	margin-top:0px;
	background-repeat: repeat-y;
}

.sombrasup {
	height: auto;
	margin-top: 0px;
	width: 100%;
}

.sombrasup img {
	width:100%;
	height:auto;
}
