.noticias_box{
	background-color: #85BEE6;
	height: 185px;
	padding: 10px 45px;
}
.cuadro_noticia{
	width: 50%;
}
.cuadro_noticia_derecha{
	float: right;
}
.cuadro_noticia_izquierda{
	float: left;
}
.cuadro_noticia_abajo{
	float: left;
}
.cuadro_noticia h1{
	color: white;
	font-size: medium;
	margin-top: 0;
}
.cuadro_noticia p{
	color: #3a739c;
	font-size: medium;
}
.linea_noticias{
	border-bottom: 1px dotted white;
	display: inline-block;
	height: 1px;
	margin-bottom: 10px;
	margin-top: 10px;
	position: static;
	width: 100%;
}