.noticias_box {
  background-color: #85BEE6;
  height: 161px;
  padding: 10px 45px;
}
.cuadro_noticia{
	width: 50%;
}
.cuadro_noticia_derecha{
	float: right;
}
.cuadro_noticia_izquierda{
	float: left;
}
.cuadro_noticia_abajo{
	float: left;
}
.cuadro_noticia h1 {
  color: white;
  font-family: klavika;
  font-size: 20px;
  margin: -7px 0 -4px;
}
.cuadro_noticia p {
  color: #3A739C;
  font-family: klavika;
  font-size: 14px;
  height: 36px;
  line-height: 1.3;
  margin-bottom: 4px;
  overflow: hidden;
  text-transform: uppercase;
}
.linea_noticias {
  border-bottom: 1px dotted white;
  display: inline-block;
  height: 1px;
  margin-bottom: 8px;
  margin-top: 10px;
  position: static;
  width: 100%;
}