#calendario div.contenedor_titular {
  margin-left: 43px;
  max-width: 270px;
  position: absolute;
  z-index: 1;
}

.banner {
	z-index: 1;
	position: relative;
} 

.fc-header-title h2 {
  font-family: klavika;
  margin-top: 0;
  
  text-transform: uppercase;
  white-space: nowrap;
}

.fc-button-content {
  font-family: klavika;
  text-transform: uppercase;
}

#eo_fullcalendar_1_loading, .ui-widget-header,.fc-event-inner.fc-event-skin{
  font-family: klavikalight;
  text-transform: uppercase;
}

.fc-event-inner.fc-event-skin {
    background:none repeat scroll 0 0 rgba(46, 132, 189, 0.87)!important;
    border:none!important;
    word-break: keep-all!important;
}

.fc-event-time {
    display:none;
}

.fc-event-title {
    padding:5px;
}

.fc-event-title {
  padding: 11px 0 !important;
  text-align: center !important;
  font-size: 12px;
   word-break: keep-all!important;

}

.fc-view pre {

  word-break: keep-all!important;

}

.fc-event-hori {
  background: none repeat scroll 0 0 transparent !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-top: 0!important;
  padding: 5px 4px;
  position: relative !important;
  border-width:0px!important;
}

.fc-event-inner {
  overflow: hidden;
  position: relative;
}

.fc-event-inner.fc-event-skin {
  display: inline-block !important;
  margin-left: -7px !important;
  height: 44px !important;
  overflow: hidden !important;
  padding: 6px 3px !important;
  text-align: center !important;
  width: 98px !important;
  line-height: 1.4!important;
  font-size: 1em!important;
}

.fc-day-number {
    font-family:klavika;
}

.fc-header-title h2 {
  background: none repeat scroll 0 0 rgba(46, 132, 189, 0.87);
  color: white;
  margin-top: -251px!important;
  text-align: center !important;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  margin-left: 34px;
}

pre {
    padding:35px 9.5px 11px;
    margin:0 0 500px;
    border:0;
}

.fc-header-right {
  text-align: right;
  width: 25%;
  padding-bottom: 26px!important;
}