@media (min-width: 979px) and (max-width: 1200px) {
	.carousel-indicators {
	  margin-right: -10px;
	  top: 237px;
	}
	div.contenedor_titular {
		top: 40px;
	}
	.btn_barra {
    	width:11%;
	}
	
	.patrocinadores_footer {
    	display:none!important;
	}
	.fc-event-inner.fc-event-skin{
    	width:80px!important;
    	height:30px!important;
    	line-height: 1.1 !important;
	}


.ngg-galleryoverview {
    padding-left:81px;
}
}

/* IPAD */
@media (min-width: 768px) and (max-width: 979px) {

	div.contenedor_titular {
		left: -14px;
		top: 33px;
	}
	.carousel-indicators {
	  margin-right: -10px;
	  top: 175px;
	}
	.noticia_destacada {
		margin-left:1px;
	}
	.entrada_derecha {
		padding-left:18px;
	}
	.inp_buscar {
		width: 145px;
		margin-left: -18px;
	}
	.buscador {
	  padding-left: 30px;
	}
	.buscador img {
	  margin-right: 31px;
	}
	.noticia_destacada {
	  padding-left: 34px;
	}
	.entrada_derecha p {
	  font-size: 14px;
	  margin-left: 14px;
	  margin-top: 8px;
	  width: 145px;
	 }
	 h1.titular_slide {
		 font-size:29px;
	 }
	 .btn_barra {
    	width:11%;
	}
.fc-event-inner.fc-event-skin {
  font-size: 0.9em !important;
  height: 23px !important;
  line-height: 1.2 !important;
  margin-top: -7px;
  padding-top: 0 !important;
  width: 60px !important;
}
.fc-header-title h2 {
  font-size: 22px;
  margin-top: -89px!important;
  margin-left: 164px!important;
}

.ngg-galleryoverview {
    padding-left:18px;
}

}

/* IPHONE LANDING */
@media (max-width: 767px) {

	#home_content {
		width:100%;
	}
	.carousel-indicators {
	  margin-right: -10px;
	  top: 5px;
	}
	
	#calendario div.contenedor_titular {
/*
	  left: 0px;
	  top: 50px;
*/
  	}
  	
	h1.titular_slide {
		font-size:22px;
	}
	
	.span5.btn_seguir{
		display:inline;
	}
	div.contenedor_titular {
  left: -29px;
  top: 0px;
  margin-top: 8px;
}

	.fc-event-inner.fc-event-skin {

  width: 64px !important;
}
.fc-event-inner.fc-event-skin {
  font-size: 1em !important;
  line-height: 1 !important;
  text-align: center !important;
  height: 17px!important;
}
.fc-header-title h2 {

  position: absolute;
  font-size:18px!important;


}

.fc-header-title h2 {
  margin-left: 131px !important;
  margin-top: -85px !important;
  white-space: nowrap;
}

.ngg-galleryoverview {
    padding-left:7px;
}
.ngg-gallery-thumbnail img {
    width:74px;
}
}

/* IPHONE VERTICAL */
@media (max-width: 480px) {
	.carousel-indicators, a.btn_leer_mas {
		display:none;
	}
	div.contenedor_titular {
	  top: 11px;
	  left: -22px;
	}
	h1.titular_slide {
  font-size: 18px;
  text-transform: uppercase;
  top: 1px;
}

.fc-event-inner.fc-event-skin {
  width: 38px !important;
  margin-top: -22px;
  z-index: -2;
  position: relative;
  padding-top: 14px!important;
  height:24px!important;
}
}