.patrocinadores_footer {
    margin-top:137px;
    margin-left:-36px;
}

.youtube {
    display:none;
}

.btn_barra,.activeb.btn_barra,.btn_barra:hover,.activeb.btn_barra:hover {
    filter: inherit!important;
}

.carousel-indicators {
    top:235px;
}

DIV.contenedor_titular {
    top:40px;
}